
# Julia sysimage
sys*.so

# Julia full package manifest
Manifest.toml

# built Fortran files
vorts/f/src/*.o
vorts/f/src/*.mod
vorts/f/src/hello_world.exe
vorts/f/src/*.so

# built docs
html/

# environments
venv/

pip-wheel-metadata/
*.egg-info/
*.ipynb
.ipynb_checkpoints/
*.pyc
ps*.txt
ps*.png
!/examples/img/ps*.png
.DS_Store
.vscode
