
# built Fortran files
vorts/f/src/*.o
vorts/f/src/*.mod
vorts/f/src/hello_world.exe

# built docs
html/

# environments
venv/

*.ipynb
.ipynb_checkpoints/
*.pyc
ps*.txt
ps*.png
!/examples/ps*.png
.DS_Store
.vscode
