name: Docs

on:
  push:
    paths:
      - '**.py'
      - 'README.md'
      - 'doc/**'
      - '.github/workflows/docs.yml'
    branches:
      - master

jobs:
  docs:
    runs-on: ubuntu-latest

    steps:
      - name: Check out
        uses: nschloe/action-cached-lfs-checkout@v1

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.8

      - name: Install package (with `docs` extras)
        run: |
          pip install .[docs]

      - name: Build docs with pdoc3
        run: |
          pdoc --html --force --template-dir ./doc/templates ./vorts

      - name: Push built docs to `gh-pages` branch
        uses: JamesIves/github-pages-deploy-action@v4.7.4
        with:
          branch: gh-pages
          folder: ./html/vorts
          git-config-name: github-actions
          git-config-email: 41898282+github-actions[bot]@users.noreply.github.com
          clean: true
          clean-exclude: .nojekyll
